.catalog {
  position: relative;
  z-index: 9;
  &__title {
  }
  &__card {
    width: 100%;
  }
}
.prod-card {
  height: 368px;
  overflow: hidden;
  margin-bottom: 2px;
  padding-left: 125px;
  @media ($mnw992) {
    &:hover {
      .prod-card__image {
        transform: translateY(13%);
        @media ($mxw1500) {
          transform: translateY(15%);
        }
        @media ($mxw1100) {
          transform: translateY(18%);
        }
      }
      .prod-card__btn {
        background-color: $main-color;
        color: #FFF;
      }
    }
  }
  @media ($mxw1500) {
    height: 276px;
    padding-left: 60px;
  }
  @media ($mxw1100) {
    padding-left: 44px;
  }
  @media ($mxw950) {
    height: 230px;
  }
  &_green {
    background-color: #A3E07E;
    transition: 300ms;
    @media ($mnw992) {
      &:hover {
      background-color: #71BD44;
      }
    }
  }
  &_yellow {
    background-color: #FDED84;
    transition: 300ms;
    @media ($mnw992) {
      &:hover {
        background-color: #FFDD00;
      }
    }
  }
  &_pink {
    background-color: #FF9CCA;
    transition: 300ms;
    @media ($mnw992) {
      &:hover {
        background-color: #F669B8;
      }
    }
  }
  &_orange {
    background-color: #FDB96B;
    transition: 300ms;
    @media ($mnw992) {
      &:hover {
        background-color: #F9931F;
      }
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__info {
    flex: 0 0 38%;
    @media ($mxw950) {
      flex: 0 0 47%;
    }
  }
  &__infoblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    width: 84px;
    margin-bottom: 24px;
    @media ($mxw1500) {
      width: 62px;
    }
    @media ($mxw950) {
      flex-shrink: 0;
      margin: 0 17px 0 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.01em;
    margin-bottom: 24px;
    cursor: default;
    @media ($mxw1500) {
      font-size: 36px;
      line-height: 36px;
    }
    @media ($mxw1100) {
      font-size: 30px;
    }
    @media ($mxw950) {
      flex: 1 0 55%;
      margin-bottom: 0;
      font-size: 27px;
      line-height: 32px;
      white-space: pre-wrap;
    }
  }
  &__arrow {
    display: none;
    @media ($mxw950) {
      display: block;
      line-height: 0;
    }
  }
  &__description {
    cursor: default;
  }
  &__image {
    width: 520px;
    transform: translateY(22%);
    transition: 300ms;
    @media ($mxw1500) {
      width: 404px;
    }
    @media ($mxw1350) {
      width: 340px;
    }
    @media ($mxw1100) {
      width: 320px;
    }
    @media ($mxw950) {
      width: 280px;
    }
  }
  &__btn {
    transition: 300ms;
    @media ($mxw950) {
      display: none;
    }
  }
}