@font-face{
	font-family: PFHandbookPro;
	font-display: swap;
	src: url("../fonts/PFHandbookPro-Black.woff2") format("woff2"), url("../fonts/PFHandbookPro-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: PFHandbookPro;
	font-display: swap;
	src: url("../fonts/PFHandbookPro-ExtraThin.woff2") format("woff2"), url("../fonts/PFHandbookPro-ExtraThin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: PFHandbookPro;
	font-display: swap;
	src: url("../fonts/PFHandbookPro-Bold.woff2") format("woff2"), url("../fonts/PFHandbookPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: PFHandbookPro;
	font-display: swap;
	src: url("../fonts/PFHandbookPro-Light.woff2") format("woff2"), url("../fonts/PFHandbookPro-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: PFHandbookPro;
	font-display: swap;
	src: url("../fonts/PFHandbookPro-Medium.woff2") format("woff2"), url("../fonts/PFHandbookPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
