.footer {
  position: relative;
  background-color: #565658;
  color: #FFF;
  &__container {
    padding: 115px 0;
  }
  &__body {
    display: flex;
    height: 204px;
    margin-bottom: 102px;
  }
  &__subscribe {
    flex: 0 0 50%;
  }
  &__nav {
    flex: 0 0 50%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    cursor: default;
  }
  &__years {
    font-weight: 500;
  }
  &__address {
  }
  &__madefrom {
    text-transform: uppercase;
  }
  &__up-link {
    position: absolute;
    right: 50px;
    bottom: 100px;
    height: 56px;
    width: 56px;
    border: 1px solid #FFF;
    border-radius: 50%;
  }
  &__up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.subscribe {
  &__description {
    width: 405px;
    margin-bottom: 25px;
    font-size: 19px;
    line-height: 24px;
    cursor: default;
  }
  &__form {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__input {
    width: 421px;
    height: 60px;
    padding: 18px 22px;
    border: 1px solid #FFF;
    margin-right: 14px;
    &::placeholder {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #FFF;
    }
  }
  &__btn {
  }
  &__social {
  }
}
.social {
  display: flex;
  &__link {
    width: 40px;
    height: 40px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin-right: 16px;
    overflow: hidden;
    transition: 300ms;
    @media ($media-mnw1) {
      &:hover {
        border: 1px solid transparent;
        background-color: $pink-color;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & img {
      display:block;
    }
  }
}
.second-nav {
  &__list {
    column-width: 230px;
  }
  &__item {
  }
  &__link {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__sublink {
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.01em;
  }
}
