.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0.82);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
  &__container {
    height: 200%;
    transition: 400ms;
    transform: translateY(-50%);
    &.active {
      transform: translateY(0);
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;

    &_search {
    }
    &_main {
    }
  }
  &__logo {
  }
  &__nav {
  }
  &__phone {
    font-size: 24px;
    line-height: 32px;
  }
  &__search {
    cursor: pointer;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
  }
  &__label {
    flex-shrink: 0;
    margin-right: 40px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: default;
  }
  &__input {
    flex-grow: 1;
    height: 60px;
    border-bottom: 1px solid #565658;
    font-weight: 300;
    font-size: 28px;
    line-height: 36px;
    color: #333333;
    &::placeholder {
      color: #959595;
    }
  }
  &__btn {
    flex-shrink: 0;
    margin: 0 90px 0 24px;
  }
  &__close {
    flex-shrink: 0;
    cursor: pointer;
  }
}
.first-nav {
  &__list {
      display: flex;
      gap: 40px;
		}
		&__item {
		}
		&__link {
      font-size: 18px;
      line-height: 32px;
      text-transform: uppercase;
		}
}