.main {
  &__mainslider {
    margin-bottom: 136px;
  }
  &__about {
    margin-bottom: 136px;
  }
  &__catalog {
    margin-bottom: 136px;
  }
  &__news {
    margin-bottom: 136px;
  }
  &__specialists {
    margin-bottom: 136px;
  }
}
