.news {
  position: relative;
  &__container {
    position: relative;
    z-index: 10;
  }
  &__title {
    margin-bottom: 48px;
    @media ($mxw950) {
      margin-bottom: 32px;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    flex: 0 0 32%;
  }
  &__figure {
    position: absolute;
    z-index: 1;
    &_01 {
      width: 9%;
      bottom: -10%;
      left: 40%;
      @media ($mxw950) {
        width: 16%;
        bottom: -12%;
        left: 76%;
      }
    }
    &_02 {
      width: 11%;
      top: 35%;
      right: 0;
      transform: translateX(50%);
      @media ($mxw950) {
        display: none;
      }
    }
    &_03 {
      width: 3.5%;
      top: -6%;
      right: 17%;
      @media ($mxw950) {
        display: none;
      }
    }
  }
}
.n-card {
  @media ($mnw992) {
    &:hover {
      .n-card__title {
        color: $pink-color;
      }
      .n-card__image {
        & img {
          transform: scale(1.1);
        }
      }
    }
  }
  &__image {
    margin-bottom: 36px;
    overflow: hidden;
    & img {
      transition: 300ms;
    }
  }
  &__date {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #71BD44;
    @media ($mxw1500) {
      margin-bottom: 13px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    transition: 300ms;
    @media ($mxw1500) {
      margin-bottom: 13px;
      font-size: 24px;
      line-height: 24px;
    }
    @media ($mxw1100) {
      margin-bottom: 13px;
      font-size: 22px;
      line-height: 22px;
    }
  }
  &__description {
  }
}