.partnersslider {
  display: flex;
  align-items: center;
  height: 404px;
  min-width: 0;
  background-color: #F8F8F8;
  @media ($mxw1500) {
    height: 302px;
  }
  @media ($mxw950) {
    height: 252px;
  }
  @media ($mxw500) {
    height: 203px;
  }
  &__slider {
    height: 186px;
    width: 100%;
    overflow: hidden;
    @media ($mxw1500) {
      height: 140px;
    }
    @media ($mxw950) {
      height: 120px;
    }
    @media ($mxw500) {
      height: 84px;
    }
  }
  &__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    transition-timing-function: linear;
  }
  &__slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 278px;
    padding: 50px;
    background-color: #FFF;
    @media ($mxw1500) {
      width: 208px;
    }
    @media ($mxw950) {
      width: 178px;
      padding: 35px;
    }
    @media ($mxw950) {
      width: 126px;
    }
  }
  &__logo {
  }
}
