// ----------------------------------------------reset----------------------------------------------
@import 'reset.scss';

// ----------------------------------------------fonts----------------------------------------------
@import "fonts.scss";
// @import 'iconsfont.scss';

// ----------------------------------------------variables----------------------------------------------
$main-color: #333333;
$pink-color: #EF4D9C;

$media-mnw1: 'min-width: 992px';


// ----------------------------------------------html----------------------------------------------
html {
  scroll-behavior: smooth;
}

// ----------------------------------------------body----------------------------------------------
body {
    font-family: PFHandbookPro, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0em;
    color: $main-color;
}

// ----------------------------------------------wrapper----------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// ----------------------------------------------container----------------------------------------------
.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


// ----------------------------------------------import----------------------------------------------
@import 'components.scss';
@import 'header.scss';
@import 'main.scss';
@import 'mainslider.scss';
@import 'about.scss';
@import 'catalog.scss';
@import 'news.scss';
@import 'specialists.scss';
@import 'partnersslider.scss';
@import 'footer.scss';
@import 'feedback.scss';