// ----------------------------------------------reset----------------------------------------------
@import 'reset.scss';

// ----------------------------------------------fonts----------------------------------------------
@import "fonts.scss";
// @import 'iconsfont.scss';

// ----------------------------------------------variables----------------------------------------------
$main-color: #333333;
$pink-color: #EF4D9C;

$mnw992: 'min-width: 992px';

$mxw1700: 'max-width: 1700px';
$mxw1500: 'max-width: 1500px';
$mxw1350: 'max-width: 1350px';
$mxw1100: 'max-width: 1100px';


// ----------------------------------------------html----------------------------------------------
html {
  scroll-behavior: smooth;
}

// ----------------------------------------------body----------------------------------------------
body {
    font-family: PFHandbookPro, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0em;
    color: $main-color;
    @media ($mxw1500) {
      font-size: 18px;
      line-height: 24px;
    }
    @media ($mxw1100) {
      font-size: 17px;
    }
}

// ----------------------------------------------wrapper----------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

// ----------------------------------------------container----------------------------------------------
.container {
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media ($mxw1500) {
      max-width: 1220px;
    }
    @media ($mxw1350) {
      padding: 0 30px;
    }
    @media ($mxw1100) {
      padding: 0 52px;
    }
}


// ----------------------------------------------import----------------------------------------------
@import 'components.scss';
@import 'header.scss';
@import 'main.scss';
@import 'mainslider.scss';
@import 'about.scss';
@import 'catalog.scss';
@import 'news.scss';
@import 'specialists.scss';
@import 'partnersslider.scss';
@import 'footer.scss';
@import 'feedback.scss';